# === YAML file handler ===
PyYAML

# === API Framework ===
fastapi
uvicorn
python-multipart
aiofiles

# === Vector Database ===
faiss-cpu

# === AI Agents ===
langchain
langchain_community
langchain-openai
langgraph
langgraph-checkpoint-mongodb
langchain-mongodb[async]
pymongo[srv]

# === Schema defining ===
pydantic

# === Data Extract ===
pdfplumber

# === ENV ===
python-dotenv

# === UI ===
streamlit

# === Testing ===
pytest
pytest-asyncio

-e .